html * {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-size: 18px;
    display: grid;
    grid-template-columns: 5% 33% 50% 12%;
    margin-bottom: 10%;
    line-height: 25px;
}

h1 {
    font-size: 18px;
    font-weight: bold;
    grid-column: 2;
}

.text {
    grid-column: 3;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 2em;
    justify-content: center;
}

img {
    width: 100%;
}

.image {
    cursor: pointer;
    position: relative;
}

.image:hover img {
    transition: 0.5s ease all;
    filter: brightness(0.3);
}

.image:hover .text-container {
    visibility: visible;
}

.text-container {
    font-size: 20px;
    font-weight: bold;
    font-stretch: extra-expanded;
    color: white;
    visibility: hidden;
    position: absolute;
    top: 5%;
    left: 45%;
    width: 100%;
    white-space: pre;
}

@media screen and (max-width: 360px) {
    header {
        display: grid;
        grid-template-rows: 10% 5% 85%;
        grid-template-columns: 1fr;
    }
    h1 {
        grid-column-start: 1;
        grid-row: 1;
        margin-left: 10%;
    }
    .text {
        grid-row: 3;
        grid-column-start: 1;
        width: 80%;
        margin-left: 10%;
        text-align: justify;
    }
    .img-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        margin-top: 10%;
    }
    img {
        width: 90%;
        margin-left: 5%;
    }
}