html * {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Courier New", Courier, monospace;
}

.main-header {
    font-size: 3rem;
    font-weight: 900;
    padding: 10%;
}

.first-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 10%;
}

.navigation {
    justify-content: left;
    margin: auto 1%;
    width: 100%;
}

.nav-items {
    display: grid;
    grid-template-rows: 33% 33% 33%;
    gap: 1em;
    justify-content: center;
}

a {
    background-color: black;
    padding: 5px;
    text-decoration: none;
    font-weight: 900;
    color: white;
}

.first-section {
    justify-content: center;
    margin: auto 8%;
    min-width: 20rem;
}

.article-header {
    text-align: center;
    margin-bottom: 2rem;
}

.article-text {
    text-align: justify;
}

.aside-content {
    justify-content: right;
    margin: auto 5%;
}

.aside-text {
    font-weight: bold;
    font-size: 1.2em;
}

#hidden-content {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10%;
    background-color: black;
    width: 100%;
    color: white;
    display: none;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-zoom-animation: fadein 2s;
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.second-content {
    text-align: center;
}

#alert-button {
    font-size: 2em;
    font-weight: 900;
    border: 3px solid;
    background-color: yellow;
}

#alert-button:hover {
    cursor: pointer;
}