html * {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Courier New", Courier, monospace;
}

.main-header {
    font-size: 3rem;
    font-weight: 900;
    padding: 10%;
}

.first-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 10%;
}

.navigation {
    justify-content: left;
    margin: auto 1%;
    width: 100%;
}

.nav-items {
    display: grid;
    grid-template-rows: 33% 33% 33%;
    gap: 1em;
    justify-content: center;
}

a {
    background-color: black;
    padding: 5px;
    text-decoration: none;
    font-weight: 900;
    color: white;
}

.first-section {
    justify-content: center;
    margin: auto 8%;
    min-width: 20rem;
}

.article-header {
    text-align: center;
    margin-bottom: 2rem;
}

.article-text {
    text-align: justify;
}

.aside-content {
    margin: auto 5%;
    justify-content: right;
}

.aside-text {
    font-weight: bold;
    font-size: 1.2em;
}

#hidden-content {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10%;
    background-color: black;
    width: 100%;
    color: white;
    display: none;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-zoom-animation: fadein 2s;
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.second-content {
    text-align: center;
}

#alert-button {
    font-size: 2em;
    font-weight: 900;
    border: 3px solid;
    background-color: yellow;
    margin-bottom: 10%;
}

#alert-button:hover {
    cursor: pointer;
}

.search-container {
    margin-left: 5%;
    margin-right: 70%;
    margin-bottom: 5%;
    border: 1px solid;
    display: grid;
    grid-template-columns: 20% 4% 56% 20%;
}

#search-label {
    grid-column-start: 1;
    align-self: center;
}

#search-input {
    grid-column-start: 3;
}

#search-button {
    grid-column-start: 4;
    background-color: black;
    color: white;
    padding: 0.5em;
}

.fourth-content {
    text-align: center;
}

#table-section {
    margin: 5% auto;
}

.input-title {
    margin-bottom: 5%;
}

.data-input {
    background-color: black;
    color: white;
    padding: 10px;
    margin-bottom: 2px;
}

.input-content {
    margin-bottom: 3%;
}

#button-table {
    background-color: #5f9ea0;
    padding: 1%;
    border: 2px solid;
    border-radius: 5%;
}

#table-container {
    margin-left: 35%;
    margin-right: 30%;
}

#table-container #cell {
    border: 1px solid;
    background-color: #5f9ea0;
    padding: 30px;
}

@media screen and (max-width: 720px) {
    h1 {
        font-size: 4rem;
        text-align: center;
    }
    #hidden-content {
        width: 100%;
        font-size: 1.5rem;
    }
    .article-header h1 {
        font-size: 2em;
    }
    .aside-text {
        font-size: 1rem;
    }
    #alert-button {
        font-size: 1em;
    }
    .search-container {
        width: 50%;
    }
    #table-container {
        margin-left: 28%;
        margin-bottom: 15%;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 2rem;
        text-align: center;
    }
    #hidden-content {
        width: 100%;
        font-size: 1rem;
    }
    .first-content {
        display: block;
    }
    .nav-items {
        display: inline-block;
        margin-left: 20%;
        margin-bottom: 10%;
    }
    .article-header h1 {
        font-size: 1.2em;
        text-align: center;
    }
    .article-content {
        font-size: 1em;
        margin-right: 20%;
        margin-bottom: 10%;
    }
    .first-section {
        margin-bottom: 15%;
    }
    .aside-text {
        font-size: 0.9rem;
        margin-right: 20%;
        margin-left: 5%;
        text-align: justify;
    }
    #alert-button {
        font-size: 1em;
        margin-right: 15%;
    }
    .search-container {
        width: 75%;
    }
    #lista {
        font-size: 0.5rem;
    }
    #table-container {
        margin-left: 15%;
        margin-bottom: 10%;
    }
}