* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.details-header {
    background-color: #51cfa4;
    padding: 2rem;
}

.movie-details {
    display: flex;
    justify-content: space-around;
    margin: 2%;
}

.movie-poster {
    width: 25%;
}

img {
    width: 300px;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-style: italic;
    font-size: 1.5rem;
}

ul {
    line-height: 4rem;
}