body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #556b2f;
}

.main-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.container-1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 3%;
}

.block {
    border: 2px solid;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 10rem;
    background-color: darkseagreen;
}

h2 {
    color: white;
    -webkit-text-stroke: 1.5px black;
    font-size: 2rem;
}

.text {
    padding: 2rem;
    font-size: 1.5rem;
}

.container-2 {
    background-color: white;
    font-weight: 600;
    border: 1px solid;
    padding: 0px 50px;
}